// @author Mochamad Yudi Sobari
// @github https://github.com/mochamadyudi
// @email yuyuid.id12@gmail.com
// @contact +6285718851007


.app{
  &-page{
    &-header{
      width: calc(100% ) !important;
      margin: 0 -0px !important;
      @include themify($themes){
        background: themed('card') !important;
      }
    }
  }
}

.app{
  &-navbar{
    transition:.2s;

    &-sider{
      transition:.2s;
      overflow:hidden;
      height:100%;
      width:200px;

      h1{
        transition:.2s;
      }
      div{
        transition:.2s;
        margin:0 !important;
        overflow: hidden;
        width: 40px;
        height:40px !important;
        background: rgba(255, 191, 53, 0.88);
        border-radius:50%;
      }

    }
    &-collapse{
      transition:.2s;

      .app-navbar{
        &-sider{
          div{

            margin: 0 5px !important;
            transition:.2s;
            //width:0 !important;
            //height: 0 !important;
          }

          h1{
            display: none;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          width:50px;
          overflow: hidden;
        }
      }
    }
  }
}